html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100%;
  margin: 0 auto;
  inset: 1;
}
.container{
    background-color: rgb(158, 236, 236);
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    background-color: rgb(232, 156, 156);
    width: 400px;
    height: 450px;

}
.items:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.items:nth-child(1) div{
    background-color: rgb(110, 110, 241);
}
.rectangel{
    width: 300px;
    height: 100px;
    margin-bottom: 40px;
}
.square{
    width: 200px;
    height: 200px;
}
.items:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.items:nth-child(2) div{
    background-color: blueviolet;
    margin: 20px;
}
.little-item{
    width: 100px;
    height: 100px;
}